@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    color: #333;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
}

.carousel h5 {
    color: white;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bolder;
    text-shadow: 2px 2px 2px black;
}

.carousel small {
    color: white;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    text-shadow: 1px 1px 1px black;
}