.card-body1
{   width: 350px;
    position: absolute;
    right: 0;
    bottom:10px;
    border: dotted;
    background-color: rgb(0, 255, 255);
}
.carte
{
    display:inline-flex;
    justify-content: flex-start;

    border: solid 1px black;
}
.card2
{
    width: 200px;
    position: absolute;
   right:300px;
   left:700px;
   bottom: 270px;
   background-color: white;
}